


body {
	font-family:Roboto;
	font-weight:300;
	font-size:16px;
	color:#777;
	line-height:1.7;
	padding-top: 40px;
    padding-bottom: 0px;

}


#imagen{
	margin-top:10px;
}
h1,h2,h3,h4,h5,h6 {
	font-family:Roboto;
	font-weight:700;
}
.unstyle ul li,.unstyle ol li,ul.unstyle li,ol.unstyle li {
	list-style:none;
	line-height:inherit;
}
.text-left {
	text-align:left !Important;
}
a:hover {
	text-decoration:none;
}
.content-block {
	padding:50px 0;
	margin-top:50px;
}
.navbar-lg {
	min-height:76px;
}
.navbar-lg .navbar-brand {
	line-height:1;
	padding-top:20px;
	padding-bottom:26px;
	font-size:30px;
}
.navbar-toggle:before {
	background-image:url(menu.png);
	background-repeat:no-repeat;
}
header .navbar-white a {
	color:#3D566E;
	font-weight:700;
}
.item.content,.item.portfolio,.item.team,.item.pricing,.item.contact {
	padding-top:40px;
	padding-bottom:0px;
}
.padding-top-100 {
	padding-top:180px !important;
}
.padding-bottom-40 {
	padding-bottom:40px !important;
}
header .navbar-white {
	background:#fff;
	box-shadow:0px 3px 2px 0px rgba(50,50,50,0.1);
}
.item.header {
	background-image:url(homeimg2.jpg);
	background-repeat:no-repeat;
	background-position:0% top;
	background-size:cover;
	background-attachment:scroll;
	background-color:rgba(0,0,0,0);
}
.navbar-nav,.navbar>.container .navbar-brand {
	font-family:Dosis;
	text-transform:uppercase;
}
	.text-homeimage {
	text-align:center;
	color:rgb(255, 255, 255);
	z-index:2;
	position:relative;
	font-size:60px;
	line-height:90px;
	text-transform:uppercase;
	padding-top:190px;
	padding-bottom:190px;
	font-weight:700;
	font-family:Dosis;
}

.subtext-image {
	text-transform:none;
	font-weight:100 !Important;
}
.toparea {
	background:#fff;
	margin-top:-100px;
	padding-top:30px;
}
.numbertext {
	font-weight:700;
	font-size:20px;
	line-height:38px;
	color:#444;
	text-transform:uppercase;
	display:block;
	margin-bottom:10px;
}
.numberstep {
	background-color:#00bba7;
	border-radius:50%;
	color:#fff;
	margin-right:4px;
	text-align:center;
	height:60px;
	width:60px;
	line-height:60px;
	display:inline-block;
	font-size:25px;
	font-weight:700;
	margin-top:20px;
}

@media (min-width:768px) {
	.navbar-lg .navbar-nav>li>a {
		padding-top:26px;
		padding-bottom:26px;
		 font-size:18px;
	}
	.navbar-lg .navbar-nav>li>a:hover,.navbar-lg .navbar-nav>li>a:active {
		background:#fff;
		color: #00bba7;
	}
}



form{
	width:550px;
	padding:15px;
	border-radius:10px;
	margin: 0 auto;
	background-color:rgb(217, 215, 245);
	border: 1px solid #3d566e;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form button{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid white;
	border-radius:5px;
	display:block;
	color:rgb(37, 35, 61);
	background-color:rgb(255, 255, 255);
} 

form button:hover{
	cursor:pointer;
}

textarea{
	width: 100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}

#todo{
background-color: #6e92b4;
color:white;

width: 90%;
box-sizing: border-box;
margin: auto;
right: 150px;
padding: 20px;
border-radius: 25px;
font-size: 30px;
text-align: justify;
}

h1{
	text-align: center;
}


#contactanos p{
	text-align: center;
	font-size: 25px;
}

